.heading {
    text-align: center;
    font-size: 24px;
}

#tab-container {
    display: flex;
    gap: 10px;
}

.tab-btn {
    padding: 4px 8px;
    border: 0.5px solid black;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}

.tab-btn:hover {
    background-color: rgba(95, 93, 93, 0.26);
}

.tab-btn.active {
    background-color: rgba(128, 128, 128, 0.288);
}

